/*----------------------------------------------------------------------------------------

	CSS

----------------------------------------------------------------------------------------*/


body{
	font-family: Ubuntu;
	font-size: 1em;
	background: url('../images/bg.jpg') top;
}

a{
	text-decoration: none;
	color: #FFF;
}
h1{
	font-size: 2em;
	font-weight: normal;
}
/*----------------------------------------------------------------------------------------*/

.profile{
	border-radius: 50%;
	width: 80px;
	height: 80px;
	margin-right: 5%;
	margin-left:  5%;
	border: 2px solid #FEFEFE;
	box-shadow: 0px 0px 8px #AAA;
	vertical-align: middle;
}
.profile:hover{
	width: 80px;
	height: 80px;
	transition-duration: 0.2s;
}

@media (min-width: 600px){
	.profile{
		width: 190px;
		height: 190px;
		border: 3px solid #FEFEFE;
	}
	.profile:hover{
		width: 206px;
		height: 206px;
	}
}

.profile-mini{
	width: 50px;
	height: 50px;
	border-radius: 20%;
	border: 1px solid #FEFEFE;
	vertical-align: middle;
	margin-left: 4px;
}
.profile-mini:hover{

}

.profile-table{
	width: 26px;
	height: 26px;
	border-radius: 20%;
}

.central-box{
	margin: 40px;
}

.cinza{
	color: #555;
}

/*----------------------------------------------------------------------------------------*/

.form-transaction{
	width: 80%;
}
@media (min-width: 600px){
	.form-transaction{
		width: 500px;
	}
}

.form-transaction label{
	float: left;
	margin-left: 5px;
	color: #333;
}

.form-transaction input[type=text]{
	border-radius: 4px;
	border: 1px solid #949494;
	width: 98%;
	height: 2.8em;
	margin: 4px;
	padding-left: 6px;
	transition-duration: 0.2s;
}

.form-transaction input[type=text]:hover{
	border-radius: 1px;
	border-left: 4px solid #949494;
}
.form-transaction input[type=text]:focus{
	border-radius: 1px;
	border-left: 4px solid #949494;
	outline: none;
}

.form-transaction input[type=submit]{
	width: 100%;
	height: 2.8em;
	margin: 4px;
	margin-top: 25px;
	padding: 4px;
}

.error{
	margin: 1em 4px 1em 4px;
	padding: 1em;
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-color: #faebcc;
	border-radius: 4px;
}

/*----------------------------------------------------------------------------------------*/

.tabela{
	background-color: #FFF;
	border-radius: 5px;
}
	@media (min-width: 600px){
		.tabela{
			width: 60%;
		}
	}

.tabela td, .tabela th{
	padding: 8px;
	color: #333;
}

.tabela tr:nth-child(odd) {

}

.tabela tr:nth-child(even) {
	background: #efefef;
}

/*----------------------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------------------

	Bootstrap Pagination

----------------------------------------------------------------------------------------*/

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 3;
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
